@font-face {
    font-family: gooddog;
    // src: url(assets/fonts/GOODDC_.TTC);
    src: url(https://www.dafont.com/good-dog.font);
}

*{
  margin: 0;
}

body{
  position: relative;
  background-color: #5DAFA8;
}

.navbar{
  overflow: hidden;
  position: fixed;
  z-index: -1;
  margin-bottom: 10px;
}

.nav.li a{
  margin-left: 160px;
}

.navbar a{
  // float: right;
  // position: fixed;
  display: block;
  font-size: 18px;
  text-align: left;
  list-style-type: none;
}

#logo{
  margin-top: 10px;
  position: fixed;
  // float: left;
}

#imageBlock{
  height: 150px;
  border: solid;
  border-width: thin;
  border-color: #000;
  width: auto;
  background-color: #FCFFFD;
}

// #animation1{
//   margin-right: -10px;
// }
//
// #animation2{
//   margin-bottom: 0px;
// }

.panel{
  margin-top: 20px;
}

.page-header{
  position: fixed;
  z-index: -1;
  height: 75px;
  width: 100%;
  margin: 0;
  opacity: 0.8;
  background-color: #2B7C62;
}

h1{
  color: #145A56;
  text-align: center;
  font-family:gooddog;
}

label.form-control{
  border: none;
  background-color: #59C9A5;
}

form.text{
  width: 200px;
}

#showcase{
  height: 400px;
  Width: 85%;
  border-style: solid;
  border-width: 3px;
  border-color: #145A56;
  background-color: #F1F1ED;
}

#centerContainer{
  padding: 10px;
  align-content: center;
  height: 640px;
  Width: 75%;
  margin-top: -60px;
  margin-left: 15px;
  margin-right: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #145A56;
  background-color: #F1F1ED;
}

.form-group{
  max-width: 700px;
}

input{
  margin-bottom: 10px;
  max-width: 85px;
}

#leftContainer{
  float: left;
  height: 630px;
  width: 49%;
  margin-left: 15px;
  margin-right: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #145A56;
  background-color: #F1F1ED;
}

#topRightContainer{
  float: right;
  height: 310px;
  Width: 47%;
  border-style: solid;
  border-width: 3px;
  border-color: #145A56;
  background-color: #F1F1ED;
}

#map{
  float: right;
  height: 310px;
  width: 47%;

  // position: absolute;
  // bottom: 15px;
  // right: 15px;
  // font-size: 18px;
  // margin-bottom: 15px;
  // margin-right: 15px;
}

.page-footer{
    position: fixed;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: justify;
    color: #FCFFFD;
    background-color: #2B7C62;
}
