*{
  margin: 0;
}

body{
  position: relative;
  background-color: #59C9A5;
}

.container{
  background-color: #FCFFFD;
  border-style: solid;
  border-width: 3px;
  border-color: #145A56;

}

.navbar{
  overflow: hidden;
  position: fixed;
  margin-bottom: 10px;
}

.nav-bar a{
  float: right;
  font-size: 18px;
  text-align: right;
  list-style-type: none;

}

// #logo{
//   // position: fixed;
//   background-position: bottom 20px right 10px;
// }

#imageBlock{
  height: 150px;
  // border: solid;
  // border-width: thin;
  // border-color: #000;
  width: auto;
  background-color: #FCFFFD;
}

#lab-right-to-left{
  float: right;
  margin-top: 20px;
  margin-right: 0px;
}

#topRow{
    position: absolute;
    left: 0;
    bottom: 0;
    // z-index: -1;
    // position: fixed;
    width: 100%;
}

#centerContainer{
  text-align: center;
  height: 400px;
  Width: 100%;
  top-margin: 140px;
  background-color: #F1F1ED;
}

#smallNavbar{
  width: auto;
}

h1{
  color: #145A56;
  text-align: center;
  font-family: McLaren, cursive;
  margin-bottom: 15px;
}

label.form-control{
  border: none;
  background-color: #59C9A5;
}

form.text{
  width: 200px;
}

#leftContainer{
  background-color: #FCFFFD;
  height: 400px;
  width: 49%;
  margin-left: 60px;
  margin-top: 6px;
  margin-bottom: 100px:

}

#topRightContainer{
  float: right;
  height: 310px;
  Width: 47%;
  // margin-top: 15px;
  // margin-right: 15px;
  background-color: #18FAFF;
}

#map{
  float: right;
  height: 310px;
  width: 47%;

  // position: absolute;
  // bottom: 15px;
  // right: 15px;
  // font-size: 18px;
  // margin-bottom: 15px;
  // margin-right: 15px;
}

.page-footer{
    width: 100%;
    color: #145A56;
    background-color: #72958C;
}
